hr {
  margin: 0;
}

footer {
  background-color: var(--background-main);
  padding: 1em;
}

footer ul {
  display: none;
}


@media screen and (min-width: 1024px) {

  footer {
    display: flex;
    justify-content: space-between;
    padding: 2.5em 1.5em;
  }

  footer ul {
    display: block;
  }

  .grupo-alura {
    font-size: 24px;
  }

  footer h3 {
    color:#858585;
    margin-bottom: 1.5em;
  }

  footer li {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    gap: 0.5em;
  }

  footer li > p {
    color: #858585;
  }
}

@media screen and (min-width: 1728px) {

  footer {
    padding: 3em 2em;
  }

  footer ul {
    border-left: 1px solid #858585;
    padding-left: 1.5em;
  }
}