.topics {
  text-align: center;
  background: var(--gradient);
  padding: 1em 0;
}

.topics-tittle {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--background-white);
  margin-bottom: 1em  ;
}

.topics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics-list li {
  margin: 2em 0.5em;
}

.topics-list li > a {
  color: var(--background-white);
  background-color: var(--main-color);
  padding: 1em;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {

  .topics {
    padding: 3em;
  }

  .topics-tittle {
    font-size: 24px;
  }

  .topics-list li > a {
    font-size: 20px;
  }

  .topics-list li {
    transition: all .3s;
  }

  .topics-list li:hover {
    transform: scale(1.05);
  }
}

@media screen and (min-width: 1728px) {

  .topics {
    padding: 3em 30vw;
  }
}